root {
    -fx-display: block;
    -fx-background-color: black;
}

.label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#instructions_lbl {
}

.button {
    -fx-alignment: center;
}